header.fixed {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid rgba(30,35,42,.06);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    background-clip: content-box;
    z-index: 9999;
    flex-wrap: wrap;
}

.appHeader,.pageHeader{
    display: flex;
    align-items: center;
    background: #fff;
}

.appHeader{
    position: relative;
    height: 52px;
    width: 1020px;
    padding: 0 16px;
    margin:0 auto;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    align-items: center;
    flex-wrap: wrap;
}

.appHeader.is-hidden{
    transform: translateY(-100%);
}

.pageHeader{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}
.pageContent{
    width: 1020px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (max-width: 800px){
    .pageContent{
        width: 100%;
    }
    .appHeader{
        width: 100%;
    }
}
.pageHeader:not(.is-shown) {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.headerTitle{
    display: flex;
    height: 100%;
    align-items: center;
    width: 300px;
}
.headerTitle a{
    color: #333;
    text-decoration: none;
    font-size: 24px;
}

a.postTitle{
    color: #1e1e1e;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    min-width: 200px;
}
a.postTitle:hover{
    text-decoration: none;
}