    <footer class="" style="max-width: 1020px;margin: 0 auto;">
        <div class="site-footer" role="contentinfo">
            <div class="copyright left mobile-block">
                    © 2017
                    <span title="{{ site.author}}">{{ site.author }}</span>
                    <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
            </div>
            <ul class="site-footer-links right mobile-hidden">
                <li>最新更新：{{site.time | date: '%Y-%m-%d %H:%M:%S'}}</li>
                <li>
                    <a href="javascript:window.scrollTo(0,0)" >TOP</a>
                </li>
            </ul>
            <a href="{{ site.github.repository_url }}" target="_blank" aria-label="view source code">
                <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
            </a>
            <ul class="site-footer-links mobile-hidden">
                {% for nav in site.navs %}
                <li>
                    <a href="{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
                </li>
                {% endfor %}
                <li><a href="{{ site.subscribe_rss }}"><span class="octicon octicon-rss" style="color:orange;"></span></a></li>
            </ul>
        </div>
    </footer>
    <!-- / footer -->
    <script src="/assets/vendor/share.js/dist/js/share.min.js"></script>
    <script src="/assets/js/geopattern.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="https://logike.cn/easyshare/dist/easyshare.js"></script>
    <link rel="stylesheet" href="/assets/css/globals/prism.css">
    <script>
      var easyshare = new EasyShare();
      jQuery(document).ready(function($) {
        // geopattern
        $('.geopattern').each(function(){
          $(this).geopattern($(this).data('pattern-id'));
        });
      });
    </script>
    {% if site.baidu.analytics_id %}
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?{{site.baidu.analytics_id}}";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    {% endif %}
</body>
</html>
