.search_container{
    background: #fff;
    padding: 15px;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
}
#search_results {
    font-size: 14px;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
}